@model IEnumerable<SalesNewApp.Models.Teste>
@{
    ViewData["title"] = "testando";
}

<header>
    @ViewData["title"]
</header>

<body>
    <style>
        body {
            background-color: mediumaquamarine
        }
    </style>
    <div class="main_box">

        <h2>Titulo</h2>

        <div class="inputs">
            <div>
                <h3>Username</h3>
                <input></input>
            </div>
            <div>
                <h3>Password</h3>
                <input></input>
            </div>
        </div>

        <button>
            conectar
        </button>
    </div>
</body>
