@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome,@ViewData["name"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>Voce não tem nenhum novo email em -> @ViewData["Email"]</p>
<p> deseja chegar outro email?</p>

