@model IEnumerable<SalesNewApp.Models.Department>
@{
    ViewData["title"] = "Departments";
}
<h2> Departments </h2>

<p>
    <a asp-action="Create">Create</a>

</p>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id);
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name);
            </th>
        </tr>
    </thead>
</table>


}